@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">buenas pessoal.</h1>
    <h2>temo nas banda</h2>
    <p> testando Aqui</p>

    <p>Leia sobre em: <a href="https://docs.microsoft.com/aspnet/core">construindo aplicações web com ASP.NET Core</a>.</p>
</div>
